.hotpotato {
  width: 95vw;
  max-width: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  max-height: 98vh;
}

.hotpotato-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 20px 10px 20px;
  width: 100%;
  border-radius: 10px;

  & .hotpotato-topic-head {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  & p {
    font-family: "Lacquer", system-ui;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.6);
    text-align: center;
  }

  & h2 {
    font-size: 24px;
    letter-spacing: -0.2px;
    text-align: center;
    color: #f7ff9d;
    font-weight: 900;
    text-transform: uppercase;
  }

  & button {
    background: none;
    color: #cfcfcf;
    padding: 7px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    transition: all 0.3s ease;
  }

  & button:hover {
    transform: scale(1.1);
  }
}

.backButton {
  color: #cfcfcf;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.timer {
  color: #404040;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 20px;
  border-radius: 40px;
  margin-top: 10px;

  background: #f0f0f0;

  & p {
    font-family: "Inter", system-ui;
    font-weight: bold;
    font-size: 29px;
    color: #404040;
  }

  &.timeout {
    background-color: #ff5a5a;
  }
}

.roundButton {
  font-family: "Lacquer", system-ui;
  color: #ffdd63;
  padding: 30px;
  width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-size: 25px;
  margin: 0 0 30px 0;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #414141;
  box-shadow: 6px 6px 12px #3a3a3a, -6px -6px 12px #464646;

  &:hover {
    transform: scale(1.01);
    box-shadow: inset 5px 5px 14px #343434, inset -5px -5px 14px #4c4c4c;
  }
}

.straightButton {
  font-family: "Lacquer", system-ui;
  color: #ffdd63;
  padding: 20px;
  width: 90%;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  font-size: 16px;
  font-size: 25px;
  margin: 0 0 30px 0;
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  background: #414141;
  box-shadow: 6px 6px 12px #3a3a3a, -6px -6px 12px #464646;

  &:hover {
    transform: scale(1.01);
    box-shadow: inset 5px 5px 14px #343434, inset -5px -5px 14px #4c4c4c;
  }
}

.iconHandPointing {
  transform: rotate(90deg);
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 7px 1px;

  overflow-y: auto;
  width: 100%;

  & .letter {
    color: #f7ff9d;
    padding: 30px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    width: 70px;
    text-align: center;
    transition: all 0.3s ease;

    background: #414141;
    box-shadow: 6px 6px 12px #3a3a3a, -6px -6px 12px #464646;
  }

  & .letter:hover {
    transform: scale(1.05);
    box-shadow: inset 5px 5px 14px #343434, inset -5px -5px 14px #4c4c4c;
    color: #494949;
  }

  & .letter.selected {
    box-shadow: inset 5px 5px 14px #343434, inset -5px -5px 14px #4c4c4c;
    color: #494949;
  }
}

.hidden {
  display: none;
}

.keyboard::-webkit-scrollbar {
  width: 0px;
}

@media (min-width: 1000px) {
  .keyboard::-webkit-scrollbar {
    width: 15px;
  }

  .keyboard::-webkit-scrollbar-track {
    background: none;
  }

  .keyboard::-webkit-scrollbar-thumb {
    background: rgba(247, 255, 157, 0.7);
    border-radius: 20px;
  }

  .keyboard::-webkit-scrollbar-thumb:hover {
    background: #f7ff9d;
  }
}
