.home {
  padding: 20px;

  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;

  & h1 {
    letter-spacing: -4.5px;
    font-size: 4rem;
    color: #f7ff9d;
  }
}

.buttons-main {
  display: flex;
  flex-direction: column;
  gap: 25px;

  width: 100%;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #424242;
    color: #f7ff9d;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    box-shadow: 5px 5px 14px #343434, -5px -5px 14px #4c4c4c;

    transition: all 0.2s ease;
  }

  & button:hover {
    color: #cad17f;
    transform: scale(1.01);
    box-shadow: inset 5px 5px 14px #343434, inset -5px -5px 14px #4c4c4c;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer a {
  width: 30px;
  transition: 0.3s;
  color: #e6e6e6;
}

.footer a:hover {
  transform: scale(1.1);
}

.footer img {
  width: 35px;
}

.lang {
  display: flex;
  gap: 5px;

  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px;
  border-radius: 10px;

  cursor: pointer;
  transition: 0.3s;
}

.lang:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
