@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lacquer&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

body {
  background-color: #404040;

  display: grid;
  place-items: center;
  height: 95vh;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
